*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700;800&display=swap');
body{
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-color: #202020;
    color: #fff;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.header-area{
    padding: 25px 0;
    transition:0.3s;
}
.header-area.sticky {
    position: fixed;
    right: 0;
    left: 0;
    padding: 15px 0;
    z-index: 99;
    background-color: #202020;
}
.header{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.logo{
    font-size: 27px;
    text-transform: uppercase;
    color: #fff;
}
.header ul{
    list-style: none;
    display:flex;
}
.header ul li a {
    color: #fff;
    margin: 0 15px;
    font-weight: 600;
    display: block;
    transition: 0.3s;
}
.header ul li a:hover{
    color: #ffbd36;
}
.btn {
    display: inline-block;
    background-color: #ffdd36;
    font-size: 16px;
    padding: 10px 20px;
    color: #333;
    font-weight: 600;
    border-radius: 3px;
    border: 1px solid transparent;
    text-transform: uppercase;
}
.btn:hover{
    background-color: #333;
    color: #fff;
    border-color: #ffbd36;
}
.menu-icon{
    display: none;
}

/* css of banner-area  */
.banner-area{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 0;
    height: 650px;
    position: relative;
    z-index: 1;
}
.banner-area:after {
    position: absolute;
    content: "";
    background-color: #000;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0.8;
    z-index: -1;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img{
    width: 350px;
}
.banner-content h5{
    text-transform: capitalize;
    font-size: 22px;
}
.banner-content h2{
    text-transform: uppercase;
    font-size: 42px;
    line-height: 80px;
}
.banner-content h2 span{
    color: #ffbd36;
}
.banner-content h4{
    text-transform: capitalize;
    font-size: 26px;
    margin-bottom: 20px;
}
.banner-content p{
    max-width: 600px;
    margin-bottom: 30px;
    font-size: 18px;
}
.banner-img img{
    background-color: #ffbd36;
    border-radius: 50%;
    padding: 20px;
}

/* about-area  */

.about-area{
    background-color: #2a2a2a;
    padding: 100px 0;
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-content{
    flex-basis: 65%;
}
.about-content h4{
    text-transform: capitalize;
    font-size: 40px;
    line-height: 70px;
    color: #ffdd36;
}
.about-content p{
    margin-bottom: 15px;
}
.about-info{
    flex-basis: 30%;
}
.about-info ul{
    list-style: none;
    padding: 0;
    margin:0;
}
.about-info ul li{
    border-bottom: 1px dashed #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.about-info ul li:last-child{
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

/* services-area  */
.services-area{
    padding: 100px 0 75px;
}
.section-title{
    text-align: center;
    margin-bottom: 60px;
}
.section-title h4{
    font-size: 40px;
    font-weight: 700;
    line-height:40px;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.services{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.single-service{
    flex-basis: 32%;
    text-align: center;
    background-color: #2a2a2a;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 3px;
}
.single-service i{
    width: 60px;
    height: 60px;
    line-height: 60px;
    /* text-align: center; */
    color: #333;
    font-size: 26px;
    border-radius: 50%;
    background-color: #ffbd36;
}
.single-service h4{
    margin: 18px 0;
    text-transform: capitalize;
    font-size: 28px;
}

/* area of resume  */
.resume-area{
    background-color: #2a2a2a;
    padding: 100px 0 75px;
}
.resume{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.single-resume{
    background-color: #202020;
    padding: 30px;
    flex-basis: 49%;
    margin-bottom: 25px;
    border-radius: 7px;
}
.single-resume span{
    display: block;
    font-size: 18px;
}
.single-resume h4{
    font-size: 36px;
    line-height: 60px;
    color: #ffbd36;
}
.single-resume h5{
    font-size: 20px;
    margin-bottom: 25px;
}

/* css of project-area  */

.project-area{
    padding: 100px 0 70px;
}
.projects{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.single-project{
    flex-basis: 32%;
    height: 300px;
    background-size: cover;
    margin-bottom: 25px;
    background-position: center;
}
.project-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
    transition: 0.3s;
    z-index: 2;
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
}
.project-content:before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #333;
    opacity: 0.9;
    z-index: -1;
}
.project-content h4{
    font-size: 26px;
    text-transform: capitalize;
}
.project-content h4 span{
    display: block;
    font-size: 18px;
    margin-top: 10px;
}
.single-project:hover .project-content{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

/* css of contact-area  */
.contact-area{
    background-color:#2a2a2a;
    padding: 100px 0;
}
.contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
}
.contact-form{
   flex-basis: 65%;
}
.contact-form input, .contact-form textarea{
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.contact-form input[type='submit']{
    width: auto;
    padding: 15px 40px;
    cursor: pointer;
    border:0;
}
.contact-info{
    flex-basis: 30%;;
}
.single-contact{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.single-contact i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: #ffbd36;
    font-size: 22px;
    color: #333;
    margin-right: 15px;
}
.single-contact h4{
    text-transform: uppercase;
    font-size: 26px;
}
.single-contact h4 span{
    display: block;
    font-size: 18px;
    font-weight: 400;
    margin-top: 6px;
    text-transform: lowercase;
}
.single-contact h4 .span{
    text-transform: capitalize;
}
.footer-area{
    padding: 60px 0;
    text-align: center;
}
.footer-area a{
    height: 40px;
    width: 40px;
    line-height: 40px;
    border: 1px solid #ddd;
    color: #fff;
    font-size: 20px;
    display: inline-block;
    margin: 0 10px;
    border-radius: 50%;
}
.footer-area a:hover{
    color: #ffbd36;
    border-color:#ffbd36;
}
.footer-area p{
    margin-top: 10px;
}
/* Medium devices  checkpoint - 1000px*/
@media only screen and (min-width:992px) and (max-width:1200px){
    .container{
        width: 970px;
    }
}
/* Tablet device 800px checkpoint */
@media only screen and (min-width:768px) and (max-width:991px){
    .container{
        width: 750px;
    }
    .header a.btn{
        padding: 5px 8px;
        font-size: 12px;
    }
    .single-service h4{
        font-size: 20px;
        margin: 20px 0;
    }
    .single-resume h4{
        font-size: 22px;
        line-height: 40px;
    }
    .single-resume h5{
        font-size: 16px;
        margin-bottom: 22px;
    }
}

/* Mobile device  checkpoint 400px*/
@media only screen and (max-width: 767px){
    .container{
        width: 350px;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    .header ul{
        position: absolute;
        flex-direction: column;
        top: -1000px;
        background-color: #2a2a2a;
        width: 100%;
        left: 0;
    }
    .header ul.open{
        top:52px;
    }
    .header ul li a{
        padding: 10px 0;
    }
    .header a.btn{
        display: none;
    }
    .banner{
        flex-direction: column;
    }
    .banner-img img {
        width: 200px;
    }
    .banner-content h2{
        font-size: 36px;
        line-height: 65px;
    }
    .banner-content h4{
        font-size: 20px;
    }
    .banner-img{
        margin-top: 30px;
        /* width: 100px; */
    }
    .about{
        flex-direction: column;
    }
     .about-content, .about-info, .single-service, .single-resume, .single-project, .contact-form{
        flex-basis: 100%;
    }
    .single-resume h4{
        font-size: 22px;
        line-height: 40px;
    }
    .single-resume h5{
        font-size: 16px;
        margin-bottom: 22px;
    }
    .contact-info{
        margin-top: 30px;
    }
}